@import 'tailwindcss';
@import 'tw-animate-css';

/* Hide scrollbar but keep functionality */
.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}
